@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand/static/Quicksand-Regular.ttf') format('truetype'),
    url('/fonts/Quicksand/static/Quicksand-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merienda';
  src: url('/fonts/Merienda-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Quicksand';
}

@layer base {
  :root {
    --background: #18181b;
    --background-window: #fafafa;
    --btn-background-red: #dc2626;
    --btn-background-red-hover: #f87171;
    --btn-background-sky: #0369a1;
    --btn-background-sky-hover: #0ea5e9;
    --btn-background-purple: #7e22ce;
    --btn-background-purple-hover: #68319b;
    --btn-background-zinc: #71717a;
    --btn-background-zinc-hover: #a1a1aa;
    --label-emerald: #059669;
    --foreground-ligth-zinc: #fafafa;
    --foreground-dark-zinc: #18181b;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #c0c0b9;
      --background-window: #09090b;
      --btn-background-red: #23d9d9;
      --btn-background-red-hover: #07e8e8;
      --btn-background-sky: #fd9660;
      --btn-background-sky-hover: #f15a16;
      --btn-background-purple: #81dd31;
      --btn-background-purple-hover: #57a808;
      --btn-background-zinc: #8e8e85;
      --btn-background-zinc-hover: #2b2b27;
      --label-emerald-opposite: #fa6996;
      --foreground-light-zinc: #050505;
      --foreground-dark-zinc: #e7e7e4;
    }
  }
}

.background {
  background: var(--background);
  color: var(--foreground-light-zinc);
}

.background-window {
  background: var(--background-window);
  color: var(--foreground-dark-zinc);
}

.button-red {
  background-color: var(--btn-background-red);
  color: var(--foreground-light-zinc);
  box-shadow: inset 0px 0px 1px 1px rgb(48, 1, 1);
  transition: 150ms;
}

.button-red:hover {
  background-color: var(--btn-background-red-hover);
  box-shadow: inset 0px 0px 2px 3px rgb(48, 1, 1);
  font-size: 15px;
}

.button-sky {
  background-color: var(--btn-background-sky);
  color: var(--foreground-light-zinc);
  box-shadow: inset 0px 0px 1px 1px rgb(0, 0, 0);
  transition: 150ms;
}

.button-sky:hover {
  background-color: var(--btn-background-sky-hover);
  box-shadow: inset 0px 0px 2px 3px rgb(0, 0, 0);
  font-size: 15px;
}

.btn-sky {
  background-color: var(--btn-background-sky);
  color: var(--foreground-light-zinc);
}

.btn-sky:hover {
  background-color: var(--btn-background-sky-hover);
}

.button-purple {
  background-color: var(--btn-background-purple);
  color: var(--foreground-light-zinc);
  box-shadow: inset 0px 0px 1px 1px rgb(94, 3, 146);
  transition: 150ms;
}

.button-purple:hover {
  background-color: var(--btn-background-purple-hover);
  box-shadow: inset 0px 0px 2px 3px rgb(34, 2, 53);
  font-size: 15px;
}

.button-zinc {
  background-color: var(--btn-background-zinc);
  color: var(--foreground-light-zinc);
  box-shadow: inset 0px 0px 1px 1px rgb(0, 0, 0);
  transition: 150ms;
}

.button-zinc:hover {
  background-color: var(--btn-background-zinc-hover);
  box-shadow: inset 0px 0px 2px 3px rgb(0, 0, 0);
  font-size: 15px;
}

.btn-zinc {
  background-color: var(--btn-background-zinc);
  color: var(--foreground-light-zinc);
}

.btn-zinc:hover {
  background-color: var(--btn-background-zinc-hover);
}

.label-emerald {
  background-color: var(--label-emerald);
  color: var(--foreground-ligth-zinc);
}

.foreground-ligth {
  color: var(--foreground-ligth-zinc);
}

.foreground-dark {
  color: var(--foreground-dark-zinc);
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1010;
}

.menu {
  font-family: 'Merienda';
  background-image:url(/public/FondoMenu.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #09090b;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}