@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand";
  src:
    url("/fonts/Quicksand/static/Quicksand-Regular.ttf") format("truetype"),
    url("/fonts/Quicksand/static/Quicksand-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merienda";
  src: url("/fonts/Merienda-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Quicksand";
}

@layer base {
  :root {
    --background: #18181b;
    --background-window: #fafafa;
    --btn-background-red: #dc2626;
    --btn-background-red-hover: #f87171;
    --btn-background-sky: #0369a1;
    --btn-background-sky-hover: #0ea5e9;
    --btn-background-purple: #7e22ce;
    --btn-background-purple-hover: #68319b;
    --btn-background-zinc: #71717a;
    --btn-background-zinc-hover: #a1a1aa;
    --label-emerald: #059669;
    --foreground-ligth-zinc: #fafafa;
    --foreground-dark-zinc: #18181b;
  }
}

.background {
  background: var(--background);
  color: var(--foreground-light-zinc);
}

.background-window {
  background: var(--background-window);
  color: var(--foreground-dark-zinc);
}

.button-red {
  background: linear-gradient(to bottom, var(--btn-background-red), #5c1006);
  background-color: var(--btn-background-red);
  color: var(--foreground-light-zinc);
  box-shadow: inset 0px 0px 1px 1px rgb(48, 1, 1);
  transition: 150ms;
}

.button-red:active {
  background-color: var(--btn-background-red-hover);
  box-shadow: inset 0px 0px 2px 3px rgb(48, 1, 1);
  font-size: 15px;
}

.button-red:hover {
  background: linear-gradient(to bottom, var(--btn-background-red), #ad1d0a);
}

.button-sky {
  background: linear-gradient(to bottom, var(--btn-background-sky), #08032c);
  color: var(--foreground-light-zinc);
  box-shadow: inset 0px 0px 2px 1px rgb(0, 0, 0);
  transition: 150ms;
}

.button-sky:active {
  background-color: var(--btn-background-sky-hover);
  box-shadow: inset 0px 0px 4px 2px rgb(0, 0, 0);
  font-size: 15px;
}

.btn-sky {
  background-color: var(--btn-background-sky);
  color: var(--foreground-light-zinc);
}

.btn-sky:hover {
  background-color: var(--btn-background-sky-hover);
}

.button-purple {
  background: linear-gradient(to bottom, var(--btn-background-purple), #430450);
  color: var(--foreground-light-zinc);
  box-shadow: inset 0px 0px 4px 2px rgb(94, 3, 146);
  transition: 150ms;
}

.button-purple:active {
  background-color: var(--btn-background-purple-hover);
  box-shadow: inset 0px 0px 2px 3px rgb(34, 2, 53);
  font-size: 15px;
}

.button-purple:hover {
  background: linear-gradient(to bottom, var(--btn-background-purple), #87129e);
}

.button-zinc {
  background: linear-gradient(to bottom, var(--btn-background-zinc), #1b1b1b);
  color: var(--foreground-light-zinc);
  box-shadow: inset 0px 0px 4px 2px rgb(39, 39, 39);
  transition: 150ms;
  border-radius: 8px;
}

.button-zinc:active {
  background-color: var(--btn-background-zinc-hover);
  box-shadow: inset 0px 0px 2px 3px rgb(0, 0, 0);
  font-size: 15px;
}

.button-zinc:hover {
  background: linear-gradient(to bottom, var(--btn-background-zinc), #5a5a5a);
}

.btn-zinc {
  background-color: var(--btn-background-zinc);
  color: var(--foreground-light-zinc);
  padding: 8px 16px;
  border-radius: 8px;
}

.btn-zinc:hover {
  background-color: var(--btn-background-zinc-hover);
  cursor: pointer;
}

.label-emerald {
  background-color: var(--label-emerald);
  color: var(--foreground-ligth-zinc);
}

.foreground-ligth {
  color: var(--foreground-ligth-zinc);
}

.foreground-dark {
  color: var(--foreground-dark-zinc);
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1010;
}

.menu {
  font-family: "Merienda";
  background-image: url("../public/FondoMenu.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: 0%;
  color: #09090b;
}

.menu-card {
  background: rgb(247, 247, 247);
  border-color: #e0e0e0;
  border-radius: 12px;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
}

@keyframes fondo {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.mobil {
  filter: drop-shadow(10px 10px 10px rgba(112, 105, 155, 0.5));
}

.backMobil {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    #ccc 0%,
    #fff 20%,
    #999 40%,
    #fff 60%,
    #ccc 80%,
    #999 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fondo 3s linear infinite;
}

html {
  scroll-behavior: smooth;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

